[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pyyaml = "*"
django-cors-headers = "*"
requests = "*"
djangorestframework = "*"
rest-framework-simplejwt = "*"
rich = "*"
algoliasearch-django = "*"
algoliasearch = "*"

[dev-packages]

[requires]
python_version = "3.12"
